<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="Piyush Goyani" />
        <title>HeapQ Wrapper API</title>
    </head>
    <body id="page-top">
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="p-5">
                            <h2 class="display-4">HeapQ API Wrapper</h2>
                            <p>Are you sure, whatever you are doing??</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>